.menu {
  position: absolute;
  top: 17px;
  right: 15px;
  padding: 0;
}

@media all and (min-width: 1024px) {
  .menu {
    position: relative;
    order: 2;
    display: flex;
    align-items: center;
    flex: 0 0;
    top: unset;
    right: unset;
    margin: 0 0 0 auto;
  }
}